* {
	box-sizing: border-box;
}
canvas {
	width: 50%;
	height: 500px;
	float: left;
}
line:after {
	clear: right;
}
td {
	width: 100px;
	text-align: center;
}
tr td input {
	/*display: none;*/
	width: 100px;
}
tr td span {
	display: none;
}